* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}


body {
    background: linear-gradient(#000000, #000000, #4F0C0C, #000000, #000000);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    width: 100%;
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    background: linear-gradient(#1e1c1c, #100e0e, #080808, black, #1e1c1c);
    color: white;


}

h2 {
    font-size: 40px;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul {
    margin-top: 30px;
}

nav li {
    display: inline;
    margin: 10px;
    /* background-color: #4F0C0C; */
    width: 10px;
    height: 40px;
}


.logo {
    width: 10%;
    height: 90%;

    margin-left: 3%;
    margin-top: 5px;

}

nav a {
    text-decoration: none;
    color: #fffafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 4px;
    background-color: #141212;
    border-color: #ffffff;
}

nav a:hover {
    color: #f8f8f8;
    background: linear-gradient(#4F0C0C, #100e0e, #080808, black, #4F0C0C);
    border: none;
    padding-inline-end: 10px;
}

#logo {
    margin: 10px;
    height: 60%;
}

.principal {
    display: flex;
    margin: 1%;
    height: auto;
}

.conteudo {
    float: right;
    width: 69%;
    height: auto;
    background-color: #161616;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    opacity: 70%;
}

p {
    color: white;
    font-size: 25px;
    width: 60%;
}

.my-img {
    width: 25%;
    height: 200px;
    border-radius: 200px;
    background-color: #4F0C0C;
    padding: 5px;
}

#my-img {
    width: 100%;
    height: 100%;

    border-radius: 100%;


    background-color: aliceblue;
}








.texto p {
    width: 100%;
    margin-top: 1px;

}

p {
    margin: 20px;
}

footer {
    width: 100%;
    height: 70px;
    background: linear-gradient(#1e1c1c, #100e0e, #080808, black, #1e1c1c);
    flex-direction: row;
    display: flex;
}

footer .logo {
    margin-left: auto;
}

footer h3 {
    margin-right: auto;
    font-size: 15px;
    margin-top: 10px;
    color: #fff;
}

.main-contatos {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.contatos {
    width: 100%;
    padding: 20px;
    background-color: #1e1c1c;
    height: auto;
    opacity: 80%;
    border-radius: 10px;
}

.img-logos {
    width: 69px;
    height: 69px;
}

.img-logos:hover {
    width: 80px;
    height: 80px;
}

.elements {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    background-color: #161616;
    border-radius: 20px;


}

.contatos h3 {
    color: #f8f8f8;
    padding: 30px;
    font-size: 25px;
}

.contatos .elements p {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0 auto;
}

.contatos a {
    text-decoration: none;
    margin-left: 30%;
}

.contatos p:hover {
    color: #f04141;
    font-weight: 900;
    font-size: 25px;
}

hr {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 1px;
}